---
import MainLayout from "../../layouts/MainLayout.astro"

---

<MainLayout title="My Astro Blog" description="Building a blog using astro.">
  <main class="bg-gray-100/20 min-h-screen flex items-center justify-center">
    Blog Page
  </main>
</MainLayout>
