---
import MainLayout from "../../layouts/MainLayout.astro"

const allPosts = await Astro.glob("./*.md")
import PostCard from "../../components/PostCard.astro"
---

<MainLayout title="My Astro Blog" description="Building a blog using astro.">
  <main class="bg-gray-100/20 height flex items-center justify-center">

    {
      allPosts.map(post => (
        <PostCard post={post}/>
      ))
    }
  </main>
</MainLayout>
