---
import MainLayout from "../layouts/MainLayout.astro"
// public\images\wildlife-unsplash.jpg
---

<MainLayout title="About" description="Building a blog using astro.">
  <section class="" aria-label="About Me">
    <img src="/images/wildlife-unsplash.jpg" alt="placeholder-image" class="h-60 w-48">
  </section>
</MainLayout>
