---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="My Astro Blog" description="Building a blog using astro.">
  <main>
    <p>Home page - / route</p>
  </main>
</MainLayout>
