---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="My Astro Blog" description="Building a blog using astro.">
  <main class="bg-gray-100/20 height flex items-center justify-center">
    Hello
  </main>
</MainLayout>
