---

---


<footer class="fixed bottom-0 p-2 text-red-500 shadow-globalshadow">
    <small class="flex items-center justify-center w-screen font-semibold ">
        Copyright &copy; <span id="copyright"></span> | All rights reserved
    </small>
</footer>

<script>
    const date = document.querySelector("#copyright")
    date ? date.textContent = new Date().getFullYear().toString()  : null
</script>


