---
// <Icon name={icon.name} height="25" width="24"/>
interface Props {
  text: string;
  href: string;
  style: string;
  icon?: {
    name: string;
    side: "left" | "right";
  };
  isFilled?: boolean;
  borderVisible?: boolean;
  classes: string;
}

const {
  text,
  href,
  style,
  icon,
  isFilled = true,
  borderVisible = false,
  classes,
  ...rest
} = Astro.props as Props;
---

<a
  href={href}
  class:list={["bg-black text-white hover:bg-gray-700 py-1 px-2 rounded-sm focus:outline active:outline visited:outline outline-blue-600", style, classes, { "": isFilled, "": borderVisible }, ]}
  {...rest}
>
  {icon && icon.side === "left" && "The left icon"}

  <span>{text}</span>

  {icon && icon.side === "right" && "The right icon"}
</a>
